<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="Siteview.Forms.Common.SiteviewFunctionExtension">
      <FunctionExtension
            class="com.siteview.ecc.view.apptopu.odata.GetVisioList"
            descript="获取visio列表"
            functionName="GetVisioList">
         <OutputParameters>
            <Parameters
                  descript="visio 列表"
                  paramName="VisioList">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.view.apptopu.odata.GetVisioByName"
            functionName="GetVisioByName">
         <InputParameters>
            <Parameters
                  descript="名称"
                  paramName="Name">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="ip列表"
                  paramName="Ips">
            </Parameters>
            <Parameters
                  descript="名称唯一"
                  paramName="Vname">
            </Parameters>
            <Parameters
                  descript="连接列表"
                  paramName="Links">
            </Parameters>
            <Parameters
                  descript="线路列表"
                  paramName="Lines">
            </Parameters>
            <Parameters
                  descript="显示名称"
                  paramName="Showname">
            </Parameters>
            <Parameters
                  descript="Svg 字符串"
                  paramName="Svg">
            </Parameters>
            <Parameters
                  descript="组列表"
                  paramName="Groups">
            </Parameters>
            <Parameters
                  descript="资产列表"
                  paramName="Devices">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.view.apptopu.odata.DeleteByName"
            descript="删除"
            functionName="DeleteByName">
         <InputParameters>
            <Parameters
                  descript="名称"
                  paramName="Name">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="是否删除成功"
                  paramName="Flag">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.view.apptopu.odata.UpdateName"
            functionName="UpdateName">
         <InputParameters>
            <Parameters
                  descript="名称"
                  paramName="Name">
            </Parameters>
            <Parameters
                  descript="新名称"
                  paramName="NewName">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="是否成功"
                  paramName="Flag">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.view.apptopu.odata.GetFreshData"
            descript="获取刷新数据"
            functionName="GetFreshData">
         <InputParameters>
            <Parameters
                  descript="名称"
                  paramName="Name">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="监测器相关数据"
                  paramName="ipData">
            </Parameters>
            <Parameters
                  descript="资产相关数据"
                  paramName="assetData">
            </Parameters>
            <Parameters
                  descript="线路数"
                  paramName="lineData">
            </Parameters>
            <Parameters
                  paramName="Svg">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.view.apptopu.odata.GetVisioImgListByName"
            functionName="GetVisioImgListByName">
         <OutputParameters>
            <Parameters
                  paramName="ID">
            </Parameters>
            <Parameters
                  paramName="VNAME">
            </Parameters>
            <Parameters
                  paramName="SHOW_NAME">
            </Parameters>
            <Parameters
                  paramName="PNG">
            </Parameters>
         </OutputParameters>
         <InputParameters>
            <Parameters
                  paramName="ORGANIZATION">
            </Parameters>
         </InputParameters>
      </FunctionExtension>
   </extension>

</plugin>
