.btn-u{
  border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background: #72c02c;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
}

.btn-block {
    display: block;
    width: 100%;
}

.reg-block-header {
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-bottom: solid 1px #eee;
}

.loginPage{
    /*background: #555;*/
    width:100%;
	height:100%;
	margin:0;
	padding:0;
	background:url(../img/login/login-bg.png) center center;
	background-size:cover;
	overflow:hidden;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.reg-block {
    width: 380px;
    padding: 30px;
    margin: 150px auto;
    background: #fff;
    border-top: solid 5px #2e6da4;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}


.form-control {
    box-shadow: none;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*Registration and Login Page v2
------------------------------------*/
.logo{
  text-align: center;
  width: 40%;
}
.logoTitle{
  font-size: 30px;
}

.reg-block h2,
.reg-block p,
.reg-block p a {
	color: #777;
}

.reg-block-header h2 {
	font-size: 28px;
}

.reg-block p a {
	text-decoration: underline;
}
.reg-block p a:hover {
	text-decoration: none;
}

/*Forms*/
.reg-block .input-group-addon {
	color: #bbb;
	background: none;
	min-width: 40px;
}

.reg-block .form-control:focus {
   box-shadow: none;
   border-color: #999;
}

.reg-block .checkbox {
	color: #555;
	margin-bottom: 20px;
	font-weight: normal;
}

/*Reg Header*/
.reg-block-header {
	padding-bottom: 5px;
	margin-bottom: 30px;
	border-bottom: solid 1px #eee;
}

.reg-block-header h2 {
	text-align: center;
	margin-bottom: 15px;
}

.reg-block-header p {
	text-align: center;
}

/*For Mobile Devices*/
@media (max-width: 500px) {
	.reg-block {
		width: 300px;
		margin: 60px auto;
	}
}

.btn-login{
    width: 270px;
    background-color: #008b1a!important;
    border-color: #008b1a!important;
}
.btn-login:hover{
  width: 270px;
  background-color: #00dd24!important;
  border-color: #00dd24!important;
}

/*
  login 2
*/
.main-login{
	width:100%;
	height:auto;
}

.loginStyle{
    margin-top: 100px;
    min-width:200px;
	height:180px;
	margin-left:auto;
	margin-right:auto;
	padding:30px 10px 80px 0px;
    box-sizing:content-box;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
}
.login-logo1{
    width: 280px;
}
.login-logo2{
    height: 120px;
    /*width: 1200px;*/
    white-space: nowrap;
}
@media (max-height: 1000px){
    .login-logo2{
        width: 1200px;
    }
}
@media (max-height: 900px){
    .login-logo1{
        width: 200px;
    }
    .login-logo2{
        width: 900px;
    }
    .loginStyle{
        padding: 0px 10px 40px 0px;
    }
}
@media (max-height: 800px){
    .login-logo1{
        width: 200px;
    }
    .login-logo2{
        width: 900px;
    }
    .loginStyle{
        padding:0px 10px 40px 0px;
    }
}
@media (max-height: 700px){
    .login-logo1{
        width: 200px;
    }
    .login-logo2{
        width: 900px;
    }
    .loginStyle{
        padding:30px 10px 40px 0px;
    }
}
@media (max-height: 600px){
    .login-logo1{
        width: 200px;
    }
    .login-logo2{
        width: 900px;
    }
    .loginStyle{
        padding:0px 10px 40px 0px;
    }
}
@media (max-width: 1100px){
    .login-logo1{
        width: 150px;
    }
    .login-logo2{
        width: 550px;
    }
    .loginStyle{
        padding:0px 10px 40px 0px;
    }
}
@media (max-width: 1000px){
    .login-logo1{
        width: 150px;
    }
    .login-logo2{
        width: 550px;
    }
    .loginStyle{
        padding:0px 10px 40px 0px;
    }
}
@media (max-width: 900px){
    .login-logo1{
        width: 150px;
    }
    .login-logo2{
        width: 550px;
    }
    .loginStyle{
        padding:0px 10px 40px 0px;
    }
}
@media (max-width: 800px){
    .login-logo1{
        width: 150px;
    }
    .login-logo2{
        width: 550px;
    }
    .loginStyle{
        padding:0px 10px 40px 0px;
    }
}
@media (max-width: 700px){
    .login-logo1{
        width: 150px;
    }
    .login-logo2{
        width: 500px;
    }
    .loginStyle{
        padding:0px 10px 40px 0px;
    }
}
.login-content{
  /*margin-top: 40px;*/
    clear: both;
	width:650px;
	height:180px;
    background: rgba(93, 136, 67, 0.71);
	margin-left:auto;
	margin-right:auto;
	padding:40px 10px 40px 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	filter:alpha(opacity=80);-moz-opacity:0.8; opacity:0.8;
    box-sizing:content-box;
}
.login-info{
	width:400px;
	height:40px;
	margin-left:40px;
	margin-right:40px;
	background:#ffffff;
	border: 2px solid #f0f7fb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-top:26px;
}
.login-info span.user{
	float:left;
	width:40px;
	height:30px;
	margin:5px auto 5px auto;
	background:url(../img/login/icon-user.gif) no-repeat center center;
	border-right:1px solid #a9a9a9
}
.login-info span.pwd{
	float:left;
	width:40px;
	height:30px;
	margin:5px auto 5px auto;
  background:url(../img/login/icon-pwd.png) no-repeat center center;
	border-right:1px solid #a9a9a9
}
.login-input{
	width:355px;
	height:36px;
	line-height:40px;
	background:#ffffff;
	border:none;
	margin:0;
	padding:0;
	padding-left:20px;
}
.login-oper{
	width:400px;
	height:40px;
	line-height:40px;
	margin-left:40px;
	margin-right:40px;
	margin-top:20px;
    font-size: 20px;
    color: #fff;
    font-weight:bold;
}
.login-btn{
	width:130px;
	height:105px;
	border:none;
/*	background:#056daa;*/
/*	color:#ffffff;*/
/*	-moz-border-radius: 5px;*/
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-right:50px;
  background: linear-gradient(to bottom,#D4E8D0,#D2F1CB 25%,#53E53C);
}
.login-in{
    width: 100px;
/*    height: 100px;*/
    float: right;
    margin-right: 70px;
    font-size: 25px;
    color: #0b6c0c;
}
.chk_1{
    display: none;
}
.radioclass{
  height:15px;
  width:15px;
}
.errorMsg{
    margin-left: 50px;
    position: fixed;
}
.eyePosition{
  /*padding: 0 6px;*/
    color: #d06169;
    /*display: none;*/
    font-weight: normal;
    cursor: default;
    position: absolute;
    z-index: 2;
    height: 30px;
    line-height: 35px;
    margin-left: -15px;
}
