<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.siteview.NNM.perspective"
            id="com.siteview.NNM.perspective"
            name="NNM">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.siteview.NNM.Views.NNMTreeView"
            id="com.siteview.NNM.Views.NNMTreeView"
            name="%NetworkManagement"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.siteview.NNM.Editors.TopoManage"
            default="false"
            id="TopoManage"
            name="%TopGraph">
      </editor>
      <editor
            class="com.siteview.NNM.Editors.SvgManagermentEditor"
            default="false"
            id="SvgManagermentEditor"
            name="%DeviceManagement">
      </editor>
      <editor
            class="com.siteview.NNM.Editors.SvgEditor"
            default="false"
            id="SvgEditor"
            name="%DeviceType">
      </editor>
      <editor
            class="com.siteview.NNM.Editors.SubnetEditor"
            default="false"
            id="SubnetEditor"
            name="%Subnet">
      </editor>
      <editor
            class="com.siteview.NNM.Editors.SubnetDataEditor"
            default="false"
            id="SubnetdataEditor"
            name="%SubnetDevice">
      </editor>
      <editor
            class="com.siteview.NNM.Editors.IPMACChangeEditor"
            default="false"
            id="IPMACChangeEditor"
            name="%IpMac">
      </editor>
      <editor
            class="com.siteview.NNM.Editors.MIBBrowseEditor"
            default="false"
            id="MIBBrowseEditor"
            name="%MIBBrowse">
      </editor>
      <editor
            class="com.siteview.NNM.Editors.TopNetWorkEditor"
            default="false"
            id="TopNetWorkEditor"
            name="%InterfaceRanking">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="com.siteview.NNM.Views.NNMTreeView">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="NNM.cnf.content.TreeContent">
            </contentExtension>
            <contentExtension
                  isRoot="false"
                  pattern="NNM.cnf.editors.NNMEditor">
            </contentExtension>
            <contentExtension
                  pattern="NNM.cnf.content.NNMTreeSorter">
            </contentExtension>
         </includes>
        
      </viewerContentBinding>
      <viewer
            viewerId="org.eclipse.ui.nnm.menu">
         <popupMenu
               id="siteview.nnm.cnf.view.PopupMenu">
            <insertionPoint
                  name="topo.scan"
                  separator="false">
            </insertionPoint>
         </popupMenu>
      </viewer>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.siteview.NNM.ContentProviders.NNMTreeContentProvider"
            id="NNM.cnf.content.TreeContent"
            labelProvider="com.siteview.NNM.ContentProviders.NNMTreeLabelProvider"
            name="siteviewNNM"
            priority="normal">
         <enablement>
            <or>
               <instanceof
                     value="com.siteview.NNM.adapts.NNMInstance">
               </instanceof>
               <instanceof
                     value="com.siteview.NNM.modles.RootNNM">
               </instanceof>
               <instanceof
                     value="com.siteview.NNM.modles.TopoModle">
               </instanceof>
               <instanceof
                     value="com.siteview.NNM.modles.SubChartModle">
               </instanceof>
               <instanceof
                     value="com.siteview.NNM.modles.SvgManagementModle">
               </instanceof>
               <instanceof
                     value="com.siteview.NNM.modles.SvgTypeModle">
               </instanceof>
               <instanceof
                     value="com.siteview.NNM.modles.SvgModle">
               </instanceof>
               <instanceof
                     value="com.siteview.NNM.modles.IpManagermentModle">
               </instanceof>
               <instanceof
                     value="com.siteview.NNM.modles.SubnetModle">
               </instanceof>
               <instanceof
                     value="com.siteview.NNM.modles.SubnetDataModle">
               </instanceof>
               <instanceof
                     value="com.siteview.mib.model.MibModel">
               </instanceof>
               <instanceof
                     value="com.siteview.NNM.modles.TableMibModle">
               </instanceof>
               <instanceof
                     value="com.siteview.NNM.modles.InfoMibModle">
               </instanceof>
               <instanceof
                     value="com.siteview.mib.model.FileMibModel">
               </instanceof>
               <instanceof
                     value="com.siteview.NNM.modles.IpMacChangeModle">
               </instanceof>
               <instanceof
                     value="com.siteview.NNM.modles.SubmapsModle">
               </instanceof>
            </or>
         </enablement>
      </navigatorContent>
      <navigatorContent
            id="NNM.cnf.content.NNMTreeSorter"
            name="%Sort"
            priority="high"
            sortOnly="true">
         <commonSorter
               class="com.siteview.NNM.Views.NNMTreeComparer">
         </commonSorter>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.siteview.NNM.adapts.NNMInstance"
            class="com.siteview.NNM.adapts.NNMAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.siteview.NNM.modles.RootNNM"
            class="com.siteview.NNM.adapts.NNMAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.siteview.NNM.modles.TopoModle"
            class="com.siteview.NNM.adapts.NNMAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.siteview.NNM.modles.SubChartModle"
            class="com.siteview.NNM.adapts.NNMAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.siteview.NNM.modles.SvgManagementModle"
            class="com.siteview.NNM.adapts.NNMAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.siteview.NNM.modles.SvgTypeModle"
            class="com.siteview.NNM.adapts.NNMAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.siteview.NNM.modles.SvgModle"
            class="com.siteview.NNM.adapts.NNMAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.siteview.NNM.modles.IpManagermentModle"
            class="com.siteview.NNM.adapts.NNMAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.siteview.NNM.modles.SubnetModle"
            class="com.siteview.NNM.adapts.NNMAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.siteview.NNM.modles.SubnetDataModle"
            class="com.siteview.NNM.adapts.NNMAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.siteview.mib.model.FileMibModel"
            class="com.siteview.NNM.adapts.NNMAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.siteview.NNM.modles.TableMibModle"
            class="com.siteview.NNM.adapts.NNMAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.siteview.NNM.modles.InfoMibModle"
            class="com.siteview.NNM.adapts.NNMAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.siteview.mib.model.MibModel"
            class="com.siteview.NNM.adapts.NNMAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.siteview.NNM.modles.IpMacChangeModle"
            class="com.siteview.NNM.adapts.NNMAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.siteview.NNM.modles.SubChartModle"
            class="com.siteview.NNM.adapts.NNMAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="siteview.NNM.main.menu"
            objectClass="com.siteview.NNM.modles.TopoModle">
         <action
               class="com.siteview.NNM.actions.ScanAction"
               id="NNM.netscan.action"
               label="%TopScan">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="siteview.NNM.main.menu"
            objectClass="com.siteview.mib.model.MibModel">
         <action
               class="com.siteview.NNM.actions.UpLoadMibFile"
               id="NNM.uploadmibfile.action"
               label="%UploadMibFile">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="siteview.NNM.main.menu"
            objectClass="com.siteview.NNM.modles.SubChartModle">
         <action
               class="com.siteview.NNM.actions.SubchartRemove"
               id="NNM.deletesubchart.action"
               label="%DeleteSubgraph">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:core.apploader.mainToolbar?before=com.siteview.ecc.help.command">
         <command
               commandId="NNM.TopoScan"
               icon="Images/TopoScan.png"
               label="%TopScan"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen>
               <and>
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.siteview.NNM.perspective">
                     </equals>
                  </with>
                  <with
                        variable="/nnm/topuScan">
                     <equals
                           value="TRUE">
                     </equals>
                  </with>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="DiagnosticToolsDialog"
               icon="Images/DiagnosticToolsDialog.png"
               label="%DiagnosticTools"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen>
               <and>
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.siteview.NNM.perspective">
                     </equals>
                  </with>
                  <with
                        variable="/nnm/tools">
                     <equals
                           value="TRUE">
                     </equals>
                  </with>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="TopNetWorkCommand"
               icon="Images/imgs/topnetwork.png"
               label="%InterfaceRanking"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen>
               <and>
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.siteview.NNM.perspective">
                     </equals>
                  </with>
                  <with
                        variable="/nnm/interfaceRanking">
                     <equals
                           value="TRUE">
                     </equals>
                  </with>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="DeviceInfoSelect"
               icon="Images/deviceinfoselect.png"
               label="%ResourceQuery"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen>
               <and>
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.siteview.NNM.perspective">
                     </equals>
                  </with>
                  <with
                        variable="/nnm/infoQuery">
                     <equals
                           value="TRUE">
                     </equals>
                  </with>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="DeviceInfoSavefeguard"
               icon="Images/DeviceInfoSafeguard.png"
               label="%EquipmentMaintenance"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen>
               <and>
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.siteview.NNM.perspective">
                     </equals>
                  </with>
                  <with
                        variable="/nnm/infoMaintain">
                     <equals
                           value="TRUE">
                     </equals>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:DeviceInfo">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.siteview.NNM.Handler.DeviceInfoSelectHandler"
            id="DeviceInfoSelect"
            name="%ResourceQuery">
      </command>
      <command
            defaultHandler="com.siteview.NNM.Handler.TopoScanCommand"
            id="NNM.TopoScan"
            name="%TopScan">
      </command>
      <command
            defaultHandler="com.siteview.NNM.Handler.DiagnosticTools"
            id="DiagnosticToolsDialog"
            name="%DiagnosticTools">
      </command>
      <command
            defaultHandler="com.siteview.NNM.Handler.TopNetWorkCommand"
            id="TopNetWorkCommand"
            name="%InterfaceRanking">
      </command>
      <command
            defaultHandler="com.siteview.NNM.Handler.DeviceInfoSavefeguardHandler"
            id="DeviceInfoSavefeguard"
            name="%EquipmentMaintenance">
      </command>
   </extension>
   <extension
         point="com.siteview.ecc.kernel.EccDataInitExtension">
      <EccDataInit
            class="com.siteview.NNM.Siteviewdatabase"
            level="4"
            name="NNMIpMacdatainit">
      </EccDataInit>
      <EccDataInit
            class="com.siteview.NNM.NNMDBInit"
            level="6"
            name="NNMDBInit">
      </EccDataInit>
   </extension>
   <extension
         point="Siteview.Forms.Common.SiteviewCheckBundle">
      <SiteviewCheckBundle
            bundleName="NNM"
            level="4">
      </SiteviewCheckBundle>
   </extension>
   <extension
         point="Siteview.Forms.Common.PerspetiveEventExtension">
      <PerspectiveEventExtensions
            PerspectiveId="com.siteview.NNM.perspective"
            class="com.siteview.NNM.NNMPerspectiveActive"
            name="%NetworkPerspective">
      </PerspectiveEventExtensions>
   </extension>

</plugin>
