<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="Siteview.Forms.Common.SiteviewFunctionExtension">
      <FunctionExtension
            class="com.siteview.workorder.odata.yft.GetOrderCount"
            descript="获取工单统计内容"
            functionName="GetOrderCount">
         <InputParameters>
            <Parameters
                  descript="创建人"
                  paramName="CREATEBY">
            </Parameters></InputParameters>
         <OutputParameters>
            <Parameters
                  descript="我参与的工单个数"
                  paramName="CY_COUNT">
            </Parameters>
            <Parameters
                  descript="待处理工单个数"
                  paramName="CL_COUNT">
            </Parameters>
            <Parameters
                  descript="完成工单个数"
                  paramName="WC_COUNT">
            </Parameters>
            <Parameters
                  descript="所有工单个数"
                  paramName="ALL_COUNT">
            </Parameters>
            <Parameters
                  descript="未完成延期单"
                  paramName="INCOMPLETE_EX_COUNT">
            </Parameters>
            <Parameters
                  descript="已完成延期单"
                  paramName="COMPLETE_EX_COUNT">
            </Parameters>
            <Parameters
                  descript="超时工单个数"
                  paramName="TIMEOUT_COUNT">
            </Parameters>
            <Parameters
                  descript="不满意工单个数"
                  paramName="NOT_SATISFIED_COUNT">
            </Parameters>
            <Parameters
                  descript="待处理工单人员和个数"
                  paramName="PENDING_USERCOUNT">
            </Parameters>
            <Parameters
                  descript="故障工单类型和个数"
                  paramName="FAULTTYPE_COUNT">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.workorder.odata.yft.GetWorkOrderDetailList"
            descript="获取首页不同统计状态的工单详细列表"
            functionName="GetWorkOrderDetailList">
         <InputParameters>
            <Parameters
                  descript="查询参数"
                  paramName="PARAM">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="工单ID"
                  paramName="WORKORDER_ID">
            </Parameters>
            <Parameters
                  descript="工单号"
                  paramName="WORKORDERNUM">
            </Parameters>
            <Parameters
                  descript="工单主题"
                  paramName="SUBJECT">
            </Parameters>
            <Parameters
                  descript="创建人"
                  paramName="CREATEBY">
            </Parameters>
            <Parameters
                  descript="优先级"
                  paramName="PRIORITY">
            </Parameters>
            <Parameters
                  descript="处理人"
                  paramName="CURRENT_HANDLE">
            </Parameters>
            <Parameters
                  descript="服务提供商"
                  paramName="SP">
            </Parameters>
            <Parameters
                  descript="创建时间"
                  paramName="CREATEDATA_TIME">
            </Parameters>
            <Parameters
                  descript="状态"
                  paramName="STATUS">
            </Parameters>
            <Parameters
                  descript="故障类型"
                  paramName="FAULT_TYPE">
            </Parameters>
            <Parameters
                  descript="流程ID"
                  paramName="WORKFLOW_ID">
            </Parameters>
            <Parameters
                  descript="流程名称"
                  paramName="WORKFLOW_NAME">
            </Parameters>
            <Parameters
                  descript="是否加入知识库"
                  paramName="ISADD_KB">
            </Parameters>
            <Parameters
                  descript="知识库ID"
                  paramName="KB_ID">
            </Parameters>
            <Parameters
                  descript="工单标识"
                  paramName="WORKORDERMARK">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.workorder.odata.yft.GetNextWorkFlow"
            descript="获取工单下个流程人员"
            functionName="GetNextWorkFlow">
         <InputParameters>
            <Parameters
                  descript="来自角色"
                  paramName="FROM_ID">
            </Parameters>
            <Parameters
                  descript="流程ID"
                  paramName="WORKFLOW_ID">
            </Parameters>
            <Parameters
                  descript="安全群组ID"
                  paramName="GROUP_ID">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="下级人员集合"
                  paramName="TO_USERS">
            </Parameters>
            <Parameters
                  descript="来自角色"
                  paramName="FROM_ID">
            </Parameters>
            <Parameters
                  descript="流转到的角色"
                  paramName="TO_ID">
            </Parameters>
            <Parameters
                  descript="流程操作内容"
                  paramName="FLOW_ACTION">
            </Parameters>
            <Parameters
                  descript="流转状态"
                  paramName="STATUS">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.workorder.odata.yft.GetOrderDetails"
            descript="编辑查看工单获取工单详细内容"
            functionName="GetOrderDetails">
         <InputParameters>
            <Parameters
                  descript="工单ID"
                  paramName="WORKORDER_ID">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="工单主题"
                  paramName="SUBJECT">
            </Parameters>
            <Parameters
                  descript="工单描述"
                  paramName="DESC">
            </Parameters>
            <Parameters
                  descript="工单号"
                  paramName="WORKORDERNUM">
            </Parameters>
            <Parameters
                  descript="故障大类"
                  paramName="FAULT_LARGE">
            </Parameters>
            <Parameters
                  descript="故障细类"
                  paramName="FAULT_SMALL">
            </Parameters>
            <Parameters
                  descript="创建人"
                  paramName="CREATEBY">
            </Parameters>
             <Parameters
                  descript="安全群组ID"
                  paramName="GROUP_ID">
            </Parameters>
            <Parameters
                  descript="部门"
                  paramName="DEPT">
            </Parameters>
            <Parameters
                  descript="手机"
                  paramName="CELLPHONE">
            </Parameters>
            <Parameters
                  descript="固定电话"
                  paramName="TELEPHONE">
            </Parameters>
            <Parameters
                  descript="优先级"
                  paramName="PRIORITY">
            </Parameters>
            <Parameters
                  descript="工单状态"
                  paramName="STATUS">
            </Parameters>
            <Parameters
                  descript="状态(英文显示)"
                  paramName="STATUS_EN">
            </Parameters>
            <Parameters
                  descript="SLA名称"
                  paramName="SLA_TITLE">
            </Parameters>
            <Parameters
                  descript="响应时间"
                  paramName="RESPONSE_TIME">
            </Parameters>
            <Parameters
                  descript="解决时间"
                  paramName="RESOLVE_TIME">
            </Parameters>
            <Parameters
                  descript="工单响应时间"
                  paramName="WORKORDER_RESPONSETIME">
            </Parameters>
            <Parameters
                  descript="延期截止日期"
                  paramName="EXTENDED_DEADLINE">
            </Parameters>
            <Parameters
                  descript="解决时长"
                  paramName="RESOLVE_LONG">
            </Parameters>
            <Parameters
                  descript="工单关联资产信息"
                  paramName="ASSETS">
            </Parameters>
            <Parameters
                  descript="工单关联延期单表格信息"
                  paramName="EXTENSIONS">
            </Parameters>
            <Parameters
                  descript="工单满意度表格信息"
                  paramName="SATISFACTION">
            </Parameters>
            <Parameters
                  descript="工单流程日志"
                  paramName="LOGS">
            </Parameters>
            <Parameters
                  descript="当前处理人"
                  paramName="CURRENT_HANDLER">
            </Parameters>
            <Parameters
                  descript="解决时间数字"
                  paramName="RESOLVE_TIME_NUM">
            </Parameters>
            <Parameters
                  descript="流程ID"
                  paramName="WORKFLOW_ID">
            </Parameters>
            <Parameters
                  descript="流程名称"
                  paramName="WORKFLOW_NAME">
            </Parameters>
            <Parameters
                  descript="是否加入知识库"
                  paramName="ISADD_KB">
            </Parameters>
            <Parameters
                  descript="知识库ID"
                  paramName="KB_ID">
            </Parameters>
            <Parameters
                  descript="预计解决时间"
                  paramName="APPOINTMENTTIME">
            </Parameters>
            <Parameters
                  descript="是否派工给处理人员"
                  paramName="DISPATCH_NUM">
            </Parameters>
            <Parameters
                  descript="派工给处理人员的时间"
                  paramName="DISPATCH_TIME">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.workorder.odata.yft.GetServiceLevelAgreement"
            descript="获取服务级别协议列表"
            functionName="GetServiceLevelAgreement">
         <OutputParameters>
            <Parameters
                  descript="服务级别协议列表"
                  paramName="SERVICELEVELAGREEMENT">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.workorder.odata.yft.GetFaultType"
            descript="查询故障类型"
            functionName="GetFaultType">
         <OutputParameters>
            <Parameters
                  descript="故障大类"
                  paramName="SERVICECATALOG">
            </Parameters>
            <Parameters
                  descript="故障细类"
                  paramName="SERVICEITEM">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.workorder.odata.yft.GetWorkOrderFlowChartInfo"
            descript="获取流程图相关信息"
            functionName="GetWorkOrderFlowChartInfo">
         <InputParameters>
            <Parameters
                  descript="工单ID"
                  paramName="WORKORDER_ID">
            </Parameters>
            <Parameters
                  descript="工单流程名称"
                  paramName="NAME">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="整体流程图描述"
                  paramName="DESC">
            </Parameters>
            <Parameters
                  descript="走过的流程描述"
                  paramName="PASS_DESC">
            </Parameters>
            <Parameters
                  descript="流程图角色上提示信息"
                  paramName="LOG_DESC">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.workorder.odata.yft.BatchDelete"
            descript="批量删除方法"
            functionName="BatchDelete">
         <InputParameters>
            <Parameters
                  descript="要删除表名"
                  paramName="TABLENAME">
            </Parameters>
            <Parameters
                  descript="哪个字段的值"
                  paramName="KEYWORD">
            </Parameters>
            <Parameters
                  descript="删除字段对应的值(多个用,隔开)"
                  paramName="VALUE">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="是否成功标志"
                  paramName="OUT_FLAG">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.workorder.odata.yft.GetAutoIncrementSerialNumber"
            descript="获取自增长序列号"
            functionName="GetAutoIncrementSerialNumber">
         <InputParameters>
            <Parameters
                  descript="获取哪个业务对象自增长序列号"
                  paramName="TABLENAME">
            </Parameters>
            <Parameters
                  descript="序列号的字段,不填默认为SerialNumber"
                  paramName="KEYWORD">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="获取到的序列号"
                  paramName="SERIALNUMBER">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.workorder.odata.yft.GetNewWorkOrderInfo"
            descript="获取新建工单需要数据"
            functionName="GetNewWorkOrderInfo">
         <InputParameters>
         		<Parameters
                  descript="获取哪个业务对象自增长序列号"
                  paramName="TABLENAME">
            </Parameters>
            <Parameters
                  descript="序列号的字段,不填默认为SerialNumber"
                  paramName="KEYWORD">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="获取到的序列号"
                  paramName="SERIALNUMBER">
            </Parameters>
            <Parameters
                  descript="手机"
                  paramName="CELLPHONE">
            </Parameters>
            <Parameters
                  descript="电话"
                  paramName="PHONE">
            </Parameters>
            <Parameters
                  descript="部门"
                  paramName="DEPARTMENT">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.workorder.odata.yft.GetCustomFlowInfo"
            descript="获取自定义流程需要数据"
            functionName="GetCustomFlowInfo">
         <InputParameters>
            <Parameters
                  descript="流程名称"
                  paramName="NAME">
            </Parameters>
            <Parameters
                  descript="查询字典中状态NO"
                  paramName="STATUS_DICTNO">
            </Parameters></InputParameters>
         <OutputParameters>
            <Parameters
                  descript="所有角色"
                  paramName="ROLES">
            </Parameters>
            <Parameters
                  descript="流程所有状态"
                  paramName="STATUS">
            </Parameters>
            <Parameters
                  descript="详细描述"
                  paramName="DETAILS">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.workorder.odata.yft.SaveCustomWorkOrderFlowData"
            descript="保存自定义流程数据"
            functionName="SaveCustomWorkOrderFlowData">
         <InputParameters>
            <Parameters
                  descript="具体描述数据"
                  paramName="FLOWDETAIL">
            </Parameters>
            <Parameters
                  descript="流程名称"
                  paramName="FLOWNAME">
            </Parameters>
            <Parameters
                  descript="流程ID"
                  paramName="WORKFLOW_ID">
            </Parameters>
            <Parameters
                  descript="主模板ID"
                  paramName="WORKORDER_TEMPLATEID">
            </Parameters>
            <Parameters
                  descript="处理模板ID"
                  paramName="ACTIONTABLEORDERID">
            </Parameters>
            <Parameters
                  descript="工单标识"
                  paramName="WORKORDERMARK">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="是否保存成功"
                  paramName="OUT_FLAG">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.workorder.odata.yft.GetWorkOrderReport"
            descript="工单报表"
            functionName="GetWorkOrderReport">
         <InputParameters>
            <Parameters
                  descript="报表类型(月报,周报,年报,季报)"
                  paramName="REPORT_TYPE">
            </Parameters>
            <Parameters
                  descript="开始时间"
                  paramName="STARTTIME">
            </Parameters>
            <Parameters
                  descript="结束时间"
                  paramName="ENDTIME">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="报表数据"
                  paramName="REPORTDATA">
            </Parameters>
            <Parameters
                  descript="自定义报表数据"
                  paramName="BROKENLINE">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.workorder.odata.yft.DeleteWorkOrder"
            descript="删除工单"
            functionName="DeleteWorkOrder">
         <InputParameters>
            <Parameters
                  descript="工单ID"
                  paramName="WORKORDER_ID">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="输出参数"
                  paramName="OUT_FLAG">
            </Parameters>
            <Parameters
                  descript="错误信息"
                  paramName="ERROR_MSG">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.workorder.odata.yft.GetNotRoleUsers"
            descript="获取不在当前角色下的用户"
            functionName="GetNotRoleUsers">
         <InputParameters>
            <Parameters
                  descript="角色名称"
                  paramName="ROLE_NAME">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="用户集合"
                  paramName="USERS">
            </Parameters>
            <Parameters
                  descript="错误信息"
                  paramName="ERROR_MSG">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.workorder.odata.yft.DeleteUserRole"
            descript="删除用户角色关联关系"
            functionName="DeleteUserRole">
         <InputParameters>
            <Parameters
                  descript="角色名称"
                  paramName="ROLE_NAME">
            </Parameters>
            <Parameters
                  descript="用户登陆ID"
                  paramName="LOGIN_ID">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="返回值"
                  paramName="OUT_FLAG">
            </Parameters>
            <Parameters
                  descript="删除失败的用户"
                  paramName="FAIL_USERS">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.workorder.odata.yft.GetSupervisionDetails"
            descript="获取督办单详情"
            functionName="GetSupervisionDetails">
         <OutputParameters>
            <Parameters
                  descript="关联的子工单"
                  paramName="SUB_WORKORDERS">
            </Parameters>
            <Parameters
                  descript="主工单"
                  paramName="MAIN_WORKORDERS">
            </Parameters></OutputParameters>
         <InputParameters>
            <Parameters
                  descript="工单ID"
                  paramName="WORKORDER_ID">
            </Parameters>
         </InputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.workorder.odata.yft.GetSupervisionRelationEquipment"
            descript="获取督办单关联的告警设备"
            functionName="GetSupervisionRelationEquipment">
         <InputParameters>
            <Parameters
                  descript="工单关联告警来源"
                  paramName="SOLVESTEPS">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="设备名称"
                  paramName="EQUIPMENTNAME">
            </Parameters>
            <Parameters
                  descript="区域名称"
                  paramName="AREANAME">
            </Parameters>
            <Parameters
                  descript="设备状态"
                  paramName="MONITORSTATUS">
            </Parameters>
            <Parameters
                  descript="区域编码"
                  paramName="AREACODE">
            </Parameters>
            <Parameters
                  descript="错误检测器项"
                  paramName="MONITORVALUE">
            </Parameters>
            <Parameters
                  descript="设备ip"
                  paramName="EQUIPMENTIP">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
   </extension>
   <extension
         point="com.siteview.ecc.kernel.EccDataInitExtension">
      <EccDataInit
            class="com.siteview.workorder.odata.yft.InitWorkOrderReport"
            level="4"
            name="InitWorkOrderReport">
      </EccDataInit>
   </extension>
   <extension
         point="Siteview.Forms.Common.SiteviewAutoTask">
      <AutoTaskExtension
            Class="com.siteview.ecc.yft.bundle.WorkOrderReportBundle"
            Description="工单报表快速操作"
            Name="ytf工单报表">
      </AutoTaskExtension>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/workorderUpload"
            class="com.siteview.workorder.odata.yft.servlet.WorkOrderUploadServlet">
      </servlet>
   </extension>

</plugin>
