<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.siteview.leveltop.draw2d.ui.MxGraghEditor"
            default="false"
            icon="icons/mxtopo_x.png"
            id="com.siteview.leveltop.draw2d.ui.MxGraghEditor"
            name="%RESOURCE_TOPO">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:core.apploader.mainToolbar?before=commands.View">
         <command
               commandId="MxGraphHandler"
               icon="icons/mxtopo.png"
               label="%RESOURCE_TOPO"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="SiteView.ecc.perspective">
                     </equals>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.siteview.leveltop.draw2d.handle.MxGraphHandler"
            id="MxGraphHandler"
            name="%RESOURCE_TOPO">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="SiteView.ecc.cnf.action.Machineaction"
            objectClass="com.siteview.utils.entities.TreeEquipmentObject">
         <action
               class="com.siteview.leveltop.draw2d.handle.MxGraphAction"
               icon="icons/mxtopo_x.png"
               id="com.siteview.leveltop.draw2d.locationAction"
               label="%RESOURCE_LOCATION"
               menubarPath="equipment_dashboard.menu">
         </action>
      </objectContribution>
   </extension>

</plugin>
