<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/yftVideo"
            class="com.siteview.ecc.yft.Servlet.YFTVideo">
      </servlet>
      <servlet
            alias="/alarmIssued"
            class="com.siteview.ecc.yft.Servlet.AlarmIssuedServlet">
      </servlet>
      <servlet
            alias="/yftStorage"
            class="com.siteview.ecc.yft.Servlet.StorageServlet">
      </servlet>
      <servlet
            alias="/reportTransmission"
            class="com.siteview.ecc.yft.Servlet.ReportTransmission">
      </servlet>
      <servlet
            alias="/deleteAlarmIssued"
            class="com.siteview.ecc.yft.Servlet.DeleteAlarmIssuedServlet">
      </servlet>
      <servlet
            alias="/UploadAlarmServlet"
            class="com.siteview.ecc.yft.Servlet.UploadAlarmServlet">
      </servlet>
      <servlet
            alias="/upload/fileresource"
            class="com.siteview.ecc.yft.Servlet.FileUploadServlet">
      </servlet>
      <servlet
            alias="/serverReportUpload"
            class="com.siteview.ecc.yft.Servlet.ServerReportUpload">
      </servlet>
      <servlet
            alias="/SetUserImport"
            class="com.siteview.ecc.yft.Servlet.SetUserImport">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.siteview.ecc.yft.command.AlarmIssuedCommand"
            id="Warning_Issued"
            name="告警下发">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.siteview.ecc.yft.ui.AlarmIssuedEditor"
            default="false"
            id="com.siteview.ecc.yft.AlarmIssuedEditor"
            name="告警下发">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:commands.Alarm">
         <command
               commandId="Warning_Issued"
               icon="icons/imag/AlarmLog.png"
               label="告警下发"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="/sam/alarm/rule">
                  <equals
                        value="TRUE">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="Siteview.Forms.Common.SiteviewAutoTask">
      <AutoTaskExtension
            Class="com.siteview.ecc.yft.bundle.ImportUnit"
            Name="yft导入组织架构">
      </AutoTaskExtension>
      <AutoTaskExtension
            Class="com.siteview.ecc.yft.bundle.YFTReport"
            Name="yft报表">
      </AutoTaskExtension>
      <AutoTaskExtension
            Class="com.siteview.ecc.yft.bundle.YFTAlarmBundle"
            Description="yft报警上传"
            Name="yft报警上传">
      </AutoTaskExtension>
      <AutoTaskExtension
            Class="com.siteview.ecc.yft.bundle.YFTAdvancedReportBundle"
            Name="yft厅级报表">
      </AutoTaskExtension>
      <AutoTaskExtension
            Class="com.siteview.ecc.yft.bundle.ModifyAssetMonitor"
            Description="资产修改监控数据"
            Name="资产修改监控数据">
      </AutoTaskExtension>
      <AutoTaskExtension
            Class="com.siteview.ecc.yft.bundle.AutomaticGenerationAssetsReport"
            Name="AutomaticGenerationAssetsReport">
      </AutoTaskExtension>
   </extension>
   <extension
         point="com.siteview.ecc.kernel.EccDataInitExtension">
      <EccDataInit
            class="com.siteview.ecc.yft.report.InitReport"
            level="4"
            name="市级报表调度">
      </EccDataInit>
      <EccDataInit
            class="com.siteview.ecc.yft.report.InitAlarm"
            level="4"
            name="市级报警上传">
      </EccDataInit>
      <EccDataInit
            class="com.siteview.ecc.yft.report.InitAdvancedReport"
            level="4"
            name="厅级报表调度">
      </EccDataInit>
      <EccDataInit
            class="com.siteview.ecc.yft.report.InitAssetsReport"
            level="4"
            name="资产报表调度">
      </EccDataInit>
   </extension>
   <extension
         point="Siteview.Forms.Common.SiteviewFunctionExtension">
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.GetAlarmIssued"
            descript="报警下发界面"
            functionName="GetAlarmIssued">
         <OutputParameters>
            <Parameters
                  descript="设备类型"
                  paramName="EQUIPMENTTYPE">
            </Parameters>
            <Parameters
                  descript="设备对应监测器"
                  paramName="MONITORTYPE">
            </Parameters>
            <Parameters
                  descript="报警下发列表"
                  paramName="ALARMISSUED">
            </Parameters></OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.GetYFTAlarm"
            descript="YFT报警列表获取"
            functionName="GetYFTAlarm">
         <OutputParameters>
            <Parameters
                  descript="报警列表"
                  paramName="ALARMS">
            </Parameters>
            <Parameters
                  descript="告警规则"
                  paramName="ALARMCONFIG">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.SetYFTAlarm"
            descript="设置yft报警"
            functionName="SetYFTAlarm">
         <InputParameters>
            <Parameters
                  descript="英飞拓存储设备类型"
                  paramName="STORAGETYPE">
            </Parameters>
            <Parameters
                  descript="错误告警条件是否为或关系"
                  paramName="ISOR_ERROR">
            </Parameters>
            <Parameters
                  descript="危险告警条件是否为或关系"
                  paramName="ISOR_WARNING">
            </Parameters>
            <Parameters
                  descript="正常告警条件是否为或关系"
                  paramName="ISOR_GOOD">
            </Parameters>
            <Parameters
                  descript="错误报警条件"
                  paramName="ERRORALARM">
            </Parameters>
            <Parameters
                  descript="危险告警条件"
                  paramName="WARNINGALARM">
            </Parameters>
            <Parameters
                  descript="正常告警条件"
                  paramName="GOODALARM">
            </Parameters>
            <Parameters
                  descript="报警规则"
                  paramName="ALARMCONFIGRECID">
            </Parameters>
         </InputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.VideoAssessmentReport"
            descript="视频考核报表"
            functionName="VideoAssessmentReport">
         <InputParameters>
            <Parameters
                  descript="报表类型(日报,月报,周报,年报,季报)"
                  paramName="REPORT_TYPE">
            </Parameters>
            <Parameters
                  descript="开始时间"
                  paramName="STARTTIME">
            </Parameters>
            <Parameters
                  descript="结束时间"
                  paramName="ENDTIME">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="报表数据"
                  paramName="REPORTDATA">
            </Parameters>
            <Parameters
                  descript="折线数据"
                  paramName="BROKENLINE">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.StorageAssessmentReport"
            descript="存储考核报表"
            functionName="StorageAssessmentReport">
         <InputParameters>
            <Parameters
                  descript="报表类型(日报,月报,周报,年报,季报)"
                  paramName="REPORT_TYPE">
            </Parameters>
            <Parameters
                  descript="开始时间"
                  paramName="STARTTIME">
            </Parameters>
            <Parameters
                  descript="结束时间"
                  paramName="ENDTIME">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="报表数据"
                  paramName="REPORTDATA">
            </Parameters>
            <Parameters
                  descript="折线数据"
                  paramName="BROKENLINE">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.VideoTrendsOnlineReport"
            descript="摄像机在线趋势"
            functionName="VideoTrendsOnlineReport">
         <InputParameters>
            <Parameters
                  descript="日期时间"
                  paramName="DATETIME">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="报表数据"
                  paramName="REPORTDATA">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.VideoDetailedReport"
            descript="摄像机详细报表"
            functionName="VideoDetailedReport">
         <InputParameters>
            <Parameters
                  descript="日期时间"
                  paramName="DATETIME">
            </Parameters>
            <Parameters
                  descript="报表类型"
                  paramName="TYPE">
            </Parameters>
            <Parameters
                  descript="结束时间"
                  paramName="ENDTIME">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="报表数据"
                  paramName="REPORTDATA">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.GetServerReport"
            descript="非视频类报表"
            functionName="GetServerReport">
         <InputParameters>
            <Parameters
                  descript="报表类型(日报,月报,周报,年报,季报)"
                  paramName="REPORT_TYPE">
            </Parameters>
            <Parameters
                  descript="开始时间"
                  paramName="STARTTIME">
            </Parameters>
            <Parameters
                  descript="非视频类类型(服务器、网络设备、防火墙、数据库),传英文字母(server、network、firewall、database)"
                  paramName="SERVER_TYPE">
            </Parameters>
            <Parameters
                  descript="结束时间"
                  paramName="ENDTIME">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="报表数据"
                  paramName="REPORTDATA">
            </Parameters>
            <Parameters
                  descript="自定义报表数据"
                  paramName="BROKENLINE">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.VideoRealTimeReporting"
            descript="摄像机实时状态统计"
            functionName="VideoRealTimeReporting">
         <OutputParameters>
            <Parameters
                  descript="报表数据"
                  paramName="REPORTDATA">
            </Parameters></OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.GetSystemLevel"
            descript="获取区域级别(市级or厅级)"
            functionName="GetSystemLevel">
         <OutputParameters>
            <Parameters
                  descript="级别"
                  paramName="LEVEL">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.GetUploadAlarm"
            descript="获取升级报警(厅级)"
            functionName="GetUploadAlarm">
         <OutputParameters>
            <Parameters
                  descript="报警升级数据"
                  paramName="ALARMDATA">
            </Parameters>
         </OutputParameters>
                  <InputParameters>
            <Parameters
                  descript="设备类型"
                  paramName="EQUIPMENTTYPE">
            </Parameters>
            <Parameters
                  descript="qu"
                  paramName="AREACODE">
            </Parameters>
            <Parameters
                  descript="报警时间（过滤）"
                  paramName="STARTTIME">
            </Parameters>
            <Parameters
                  descript="报警时间过滤"
                  paramName="ENDTIME">
            </Parameters>
         </InputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.GetAccountingAssessmentReport"
            descript="获取计费考核报表"
            functionName="GetAccountingAssessmentReport">
          <InputParameters>
            <Parameters
                  descript="报表类型(月报,年报)"
                  paramName="REPORT_TYPE">
            </Parameters>
            <Parameters
                  descript="开始时间"
                  paramName="STARTTIME">
            </Parameters>
            <Parameters
                  descript="结束时间"
                  paramName="ENDTIME">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="报表数据"
                  paramName="REPORTDATA">
            </Parameters>
            <Parameters
                  descript="报表数据"
                  paramName="REPORTCHARTDATA">
            </Parameters>
         </OutputParameters>  
      </FunctionExtension>
     <FunctionExtension
            class="com.siteview.ecc.yft.odata.GetYFTGisNodeToken"
            functionName="GetYFTGisNodeToken">
         <InputParameters>
            <Parameters
                  paramName="O_CODE">
            </Parameters>
            <Parameters
                  paramName="HOST">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  paramName="TOKEN">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.GetYFTGisSubsetInfo"
            functionName="GetYFTGisSubsetInfo">
         <OutputParameters>
            <Parameters
                  descript="组织ID"
                  paramName="ID">
            </Parameters>
            <Parameters
                  descript="组织名称"
                  paramName="NAME">
            </Parameters>
            <Parameters
                  descript="组织父ID"
                  paramName="PARENT_ID">
            </Parameters>
            <Parameters
                  descript="安全群组ID"
                  paramName="SAFEGROUP_ID">
            </Parameters>
            <Parameters
                  paramName="STATUS">
            </Parameters>
            <Parameters
                  paramName="COORDINATES">
            </Parameters>
            <Parameters
                  paramName="HOST">
            </Parameters>
            <Parameters
                  paramName="USER">
            </Parameters>
            <Parameters
                  paramName="PASSWD">
            </Parameters>
            <Parameters
                  descript="跳转市级外网地址"
                  paramName="IN_HOST">
            </Parameters>
            <Parameters
                  paramName="MAPLV">
            </Parameters>
            <Parameters
                  paramName="GOOD">
            </Parameters>
            <Parameters
                  paramName="ERROR">
            </Parameters>
            <Parameters
                  paramName="WARNING">
            </Parameters>
            <Parameters
                  paramName="DISABLED">
            </Parameters>
         </OutputParameters>
         <InputParameters>
            <Parameters
                  paramName="MAPLV">
            </Parameters>
         </InputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.GetYFTUnbindEquipment"
            functionName="GetYFTUnbindEquipment">
         <InputParameters>
            <Parameters
                  paramName="EQUIPMENTTYPE">
            </Parameters>
            <Parameters
                  paramName="STATUS">
            </Parameters>
            <Parameters
                  paramName="COUNT">
            </Parameters>
            <Parameters
                  paramName="FROM">
            </Parameters>
            <Parameters
                  paramName="TO">
            </Parameters>
            <Parameters
                  paramName="ORDERBY">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  paramName="UNBIND_EQUIPMENTS">
            </Parameters>
            <Parameters
                  paramName="COUNT">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.GetYFTAssetBindAction"
            functionName="GetYFTAssetBindAction">
         <InputParameters>
            <Parameters
                  paramName="UNBINDLIST">
            </Parameters></InputParameters>
         <OutputParameters>
            <Parameters
                  paramName="SUCCESS_TOTAL">
            </Parameters>
            <Parameters
                  paramName="FAILURE_EQUIPMENT_LIST">
            </Parameters></OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.IsCreateWorkOrder"
            descript="判断设备是否已经生成过工单"
            functionName="IsCreateWorkOrder">
         <InputParameters>
            <Parameters
                  descript="关闭"
                  paramName="GBCODE">
            </Parameters></InputParameters>
         <OutputParameters>
            <Parameters
                  descript="工单数量"
                  paramName="WORKORDERCOUNT">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.GetVideoLoss"
            descript="获取录像丢失"
            functionName="GetVideoLoss">
         <OutputParameters>
            <Parameters
                  descript="录像丢失数据"
                  paramName="VIDEOLOSSDATA">
            </Parameters>
         </OutputParameters>
         <InputParameters>
            <Parameters
                  descript="摄像机国标"
                  paramName="VIDEOFLAG">
            </Parameters>
         </InputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.GetStorageAisle"
            descript="获取存储设备通道信息"
            functionName="GetStorageAisle">
         <OutputParameters>
            <Parameters
                  descript="摄像机数据"
                  paramName="VIDEODATA">
            </Parameters></OutputParameters>
         <InputParameters>
            <Parameters
                  descript="国标"
                  paramName="SERVERFLAG">
            </Parameters>
         </InputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.GetAutomaticWorkOrderUI"
            descript="设置英飞拓设备自动生成工单"
            functionName="GetAutomaticWorkOrderUI">
         <OutputParameters>
            <Parameters
                  descript="设备类型"
                  paramName="EQUIPMENTTYPE">
            </Parameters>
            <Parameters
                  descript="监测器类型"
                  paramName="MONITORTYPE">
            </Parameters>
            <Parameters
                  descript="触发工单配置"
                  paramName="AUTOMATICWORKORDER">
            </Parameters></OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.fault.GetFaultClassification"
            descript="获取故障管理数据"
            functionName="GetFaultClassification">
         <OutputParameters>
            <Parameters
                  descript="故障类型集合"
                  paramName="FAULTS">
            </Parameters></OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.duty.GetDutyManageListInfo"
            descript="获取值班管理列表数据"
            functionName="GetDutyManageListInfo">
         <InputParameters>
            <Parameters
                  paramName="PARAM">
            </Parameters>
            <Parameters
                  descript="值班组ID"
                  paramName="DUTYGROUP_ID">
            </Parameters></InputParameters>
         <OutputParameters>
            <Parameters
                  descript="值班信息(值班组和值班表)"
                  paramName="DUTYS">
            </Parameters>
            <Parameters
                  descript="用户列表"
                  paramName="USER_LIST">
            </Parameters>
            <Parameters
                  descript="值班计划列表"
                  paramName="DUTYTABLE_LIST">
            </Parameters>
            <Parameters
                  descript="排班安排"
                  paramName="DUTY_ARRANGEMENTS">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.duty.DutyManage"
            descript="值班管理"
            functionName="DutyManage">
         <InputParameters>
            <Parameters
                  descript="操作类型"
                  paramName="OPERATOR_TYPE">
            </Parameters>
            <Parameters
                  descript="日历查询开始时间"
                  paramName="STARTDATETIME">
            </Parameters>
            <Parameters
                  descript="日历查询结束时间"
                  paramName="ENDDATETIME">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="是否可以签到"
                  paramName="IS_SIGN">
            </Parameters>
            <Parameters
                  descript="日历数据"
                  paramName="CALENDAR_DATA">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.WorkOrderMonitor"
            descript="工单到监控"
            functionName="WorkOrderMonitor">
         <InputParameters>
            <Parameters
                  descript="国标"
                  paramName="GB">
            </Parameters>
            <Parameters
                  descript="资源类型"
                  paramName="EQUIPMENTTYPE">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="基本信息"
                  paramName="BASEDATA">
            </Parameters>
            <Parameters
                  descript="其他数据"
                  paramName="OTHERDATA">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.GetAlarmConfigUI"
            descript="获取告警规则界面数据"
            functionName="GetAlarmConfigUI">
         <OutputParameters>
            <Parameters
                  descript="短信模板"
                  paramName="SMSTEMPLATE">
            </Parameters>
            <Parameters
                  descript="邮箱模板"
                  paramName="MAILTEMPLATE">
            </Parameters>
            <Parameters
                  descript="用户"
                  paramName="USER">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.GetWorkOrderUI"
            descript="获取触发工单界面数据"
            functionName="GetWorkOrderUI">
         <InputParameters>
            <Parameters
                  descript="设备id"
                  paramName="RECID">
            </Parameters>
            <Parameters
                  descript="监测器类型"
                  paramName="MONITORTYPE">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="服务大类"
                  paramName="FAULTLARGE">
            </Parameters>
            <Parameters
                  descript="服务细类"
                  paramName="FAULTSMALL">
            </Parameters>
            <Parameters
                  descript="服务级别协议"
                  paramName="SLAID">
            </Parameters>
            <Parameters
                  descript="资产id"
                  paramName="ASSETID">
            </Parameters></OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.GetYFTGisLV"
            functionName="GetYFTGisLV">
         <OutputParameters>
            <Parameters
                  paramName="ID">
            </Parameters>
            <Parameters
                  paramName="NAME">
            </Parameters>
            <Parameters
                  paramName="CODE">
            </Parameters>
            <Parameters
                  paramName="LV">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.SetWorkOrderCount"
            descript="设置工单数"
            functionName="SetWorkOrderCount">
         <InputParameters>
            <Parameters
                  descript="工单状态"
                  paramName="WORKORDERSTATUS">
            </Parameters>
            <Parameters
                  descript="资产id"
                  paramName="ASSETSID">
            </Parameters>
            <Parameters
                  descript="设备id"
                  paramName="EQUIPMENTID">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="返回值"
                  paramName="RETURN">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.GetAlarmUpgradeDetails"
            descript="获取告警升级详情"
            functionName="GetAlarmUpgradeDetails">
         <InputParameters>
            <Parameters
                  descript="告警来源id"
                  paramName="ALARMUPLOADID">
            </Parameters>
            <Parameters
                  descript="区域编码"
                  paramName="AREACODE">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="报警详情"
                  paramName="ALARMUPLOADDETAILS">
            </Parameters>
            <Parameters
                  descript="告警升级日志"
                  paramName="ALARMUPLOADLOG">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.GetAlarmUpgradeLog"
            descript="获取告警升级日志"
            functionName="GetAlarmUpgradeLog">
         <OutputParameters>
            <Parameters
                  descript="告警升级日志"
                  paramName="ALARMUPLOADLOG">
            </Parameters></OutputParameters>
         <InputParameters>
            <Parameters
                  descript="告警来源id"
                  paramName="ALARMUPLOADID">
            </Parameters>
         </InputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.GetSupervisionUser"
            descript="获取督办工单人员"
            functionName="GetSupervisionUser">
         <InputParameters>
            <Parameters
                  descript="主告警"
                  paramName="MAINCODE">
            </Parameters>
            <Parameters
                  descript="其他告警"
                  paramName="OTHERCODE">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="数据"
                  paramName="DATA">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.SupervisionWorkOrder"
            descript="督办工单"
            functionName="SupervisionWorkOrder">
         <InputParameters>
            <Parameters
                  descript="设备类型"
                  paramName="MACHINETTYPE">
            </Parameters>
            <Parameters
                  descript="父编码"
                  paramName="MAINCODE">
            </Parameters>
            <Parameters
                  descript="父督办人员"
                  paramName="MAINUSER">
            </Parameters>
            <Parameters
                  descript="其他编码"
                  paramName="OTHERCODE">
            </Parameters>
            <Parameters
                  descript="其他用户"
                  paramName="OTHERUSER">
            </Parameters>
            <Parameters
                  descript="主工单人员名称"
                  paramName="MAINUSERNAME">
            </Parameters>
            <Parameters
                  descript="子工单告警数"
                  paramName="OTHERCLYE">
            </Parameters>
            <Parameters
                  descript="主工单告警数"
                  paramName="MAINCLYE">
            </Parameters>
            <Parameters
                  descript="子工单人员名称"
                  paramName="OTHERUSERNAME">
            </Parameters>
            <Parameters
                  descript="父告警来源告警"
                  paramName="MAINALARMUPLOADID">
            </Parameters>
            <Parameters
                  descript="其他告警来源告警"
                  paramName="OTHERALARMUPLOADID">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="返回结果"
                  paramName="RETURN">
            </Parameters></OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.report.GetAssetsMaintenanceReport"
            descript="获取资产维修报表"
            functionName="GetAssetsMaintenanceReport">
         <InputParameters>
            <Parameters
                  descript="报表时间段类型"
                  paramName="REPORT_TYPE">
            </Parameters>
            <Parameters
                  descript="起始时间"
                  paramName="START_TIME">
            </Parameters>
            <Parameters
                  descript="结束时间"
                  paramName="END_TIME">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  descript="起始时间"
                  paramName="START_TIME">
            </Parameters>
            <Parameters
                  descript="结束时间"
                  paramName="END_TIME">
            </Parameters>
            <Parameters
                  descript="资产编码"
                  paramName="ASSETS_CODE">
            </Parameters>
            <Parameters
                  descript="国标编码"
                  paramName="GB_CODE">
            </Parameters>
            <Parameters
                  descript="维修时间"
                  paramName="MAINTENANCE_TIME">
            </Parameters>
            <Parameters
                  descript="维修费用"
                  paramName="MAINTENANCE_PAY">
            </Parameters>
            <Parameters
                  descript="维修信息"
                  paramName="MAINTENANCE_INFO">
            </Parameters>
            <Parameters
                  descript="区域名称"
                  paramName="AREA_NAME">
            </Parameters>
            <Parameters
                  descript="资产类型"
                  paramName="PRODUCT_TYPE">
            </Parameters>
            <Parameters
                  descript="资产名称"
                  paramName="ASSETS_NAME">
            </Parameters>
            <Parameters
                  descript="维修人"
                  paramName="CHECK_NAME">
            </Parameters>
         </OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.report.GetAssetsStatisticsReport"
            descript="资产统计报表"
            functionName="GetAssetsStatisticsReport">
         <OutputParameters>
            <Parameters
                  descript="起始时间"
                  paramName="START_TIME">
            </Parameters>
            <Parameters
                  descript="结束时间"
                  paramName="END_TIME">
            </Parameters>
            <Parameters
                  descript="资产信息"
                  paramName="ASSETS_INFO">
            </Parameters>
         </OutputParameters>
         <InputParameters>
            <Parameters
                  descript="开始时间"
                  paramName="START_TIME">
            </Parameters>
            <Parameters
                  descript="结束时间"
                  paramName="END_TIME">
            </Parameters>
            <Parameters
                  descript="报表时间段类型"
                  paramName="REPORT_TYPE">
            </Parameters>
         </InputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.GetUserAlarmStaff"
            functionName="GetUserAlarmStaff">
         <InputParameters>
            <Parameters
                  paramName="ALARMRULEID">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  paramName="RecId">
            </Parameters>
            <Parameters
                  paramName="LastModDateTime">
            </Parameters>
            <Parameters
                  paramName="LastModBy">
            </Parameters>
            <Parameters
                  paramName="CreateDateTime">
            </Parameters>
            <Parameters
                  paramName="CreateBy">
            </Parameters>
            <Parameters
                  paramName="AlarmConfigRecId">
            </Parameters>
            <Parameters
                  paramName="UserLogID">
            </Parameters>
            <Parameters
                  paramName="UserType">
            </Parameters>
            <Parameters
                  paramName="isEmail">
            </Parameters>
            <Parameters
                  paramName="isPhone">
            </Parameters>
            <Parameters
                  paramName="UserName">
            </Parameters></OutputParameters>
      </FunctionExtension>
      <FunctionExtension
            class="com.siteview.ecc.yft.odata.GetDiffAlarmUser"
            functionName="GetDiffAlarmUser">
         <InputParameters>
            <Parameters
                  paramName="FROM">
            </Parameters>
            <Parameters
                  paramName="COUNT">
            </Parameters>
            <Parameters
                  paramName="USER_NAME">
            </Parameters>
            <Parameters
                  paramName="USERTYPE">
            </Parameters>
            <Parameters
                  paramName="ALARMCONFIGRECID">
            </Parameters>
         </InputParameters>
         <OutputParameters>
            <Parameters
                  paramName="USERS">
            </Parameters>
            <Parameters
                  paramName="TOTAL_COUNT">
            </Parameters></OutputParameters>
      </FunctionExtension>
   </extension>
   <extension
         point="Siteview.Forms.Common.SiteviewCheckBundle">
      <SiteviewCheckBundle
            bundleName="com.siteview.ecc.yft"
            level="5">
      </SiteviewCheckBundle>
   </extension>
</plugin>
